#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

h1{
    text-align: center;
}

h1:hover{
    color: purple;
}

.color{
    background-color: orange;
}