#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

h1 {
    text-align: center;
}

div {
    padding: 10px 10px 10px 10px;
    height: 25px;
}


